<div class="home" ng-controller="homeController">
    <!--    Food Truck Start -->
    <div class="container foodtruck" id="id-foodtruck" ng-init="menu='home'">
        <div class="title">
            <h5>FOOD TRUCK</h5>
            <p>Schedule & Location</p>
            <p>In order to deliver our palatable and exquisite asian dishes as fresh to you, our food truck comes near you. Please come by it at your convenience and pleasure</p>
        </div>

        <div class="row content">
            <div class="col-xs-12 col-sm-12 col-md-6 schedule">
                <ion-icon name="calendar" class="icon-ft"></ion-icon>
                <p>Schedule</p>
                <ul class="week">
                    <li class="weekday" ng-repeat="ftloc in ftlocation" ng-class="{ftlocselected: ftloc.day === whatDayIsToday()}">{{ftloc.day | uppercase}}: @<span class="weekday-location">'{{ftloc.location}}'</span></li>
<!--                    <li class="weekday" ng-repeat="ftloc in ftlocation">{{ftloc.day | uppercase}}: @<span class="weekday-location">'{{ftloc.location}}'</span></li>-->
                    <li class="weekend" id="id-weekend" ng-class="{ftlocselected: 'Saturday' === whatDayIsToday() || 'Sunday' === whatDayIsToday()}">SAT & SUN: <span class="weekend-location">Off</span></li>
                </ul>
                <ion-icon name="time" class="icon-ft"></ion-icon>
                <p>Business Hour: 11am - 3pm, 5pm - 7pm</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 map">
                <ion-icon name="pin" class="icon-ft"></ion-icon>
                <div class="weather">
                    <p>Today's Food Truck Location</p>
                    <p>{{temp}}<img ng-src="{{icon}}"></p>
                </div>
                <div id="id-map">
                </div>
            </div>
        </div>
    </div>
    <!--    Food Truck End -->
    <!--    Menu Start -->
    <div class="container1 menu" id="id-menu">
        <div class="row1 title">
            <h5>MENUS</h5>
        </div>

        <div class="row1 sushi">
            <p class="subtitle"><strong>Sushi</strong></p>
            <div class="row" ng-repeat="sus in sushi_arry">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat= "item in sus">
                    <div class="card" >
                        <div class="card-body">
                            <h6 class="card-title"><strong>{{item.name}}</strong></h6>
                            <p class="card-subtitle mb-2 text-muted">{{item.price}}</p>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row1 noodle">
            <p class="subtitle"><strong>Noodle</strong></p>
            <div class="row" ng-repeat="nood in noodle_arry">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat= "item in nood">
                    <div class="card" >
                        <div class="card-body">
                            <h6 class="card-title"><strong>{{item.name}}</strong></h6>
                            <p class="card-subtitle mb-2 text-muted">{{item.price}}</p>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row1 salad">
            <p class="subtitle"><strong>Salad</strong></p>
            <div class="row" ng-repeat="sal in salad_arry">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat= "item in sal">
                    <div class="card" >
                        <div class="card-body">
                            <h6 class="card-title"><strong>{{item.name}}</strong></h6>
                            <p class="card-subtitle mb-2 text-muted">{{item.price}}</p>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row1 drink">
            <p class="subtitle"><strong>Drink</strong></p>
            <div class="row" ng-repeat="drn in drink_arry">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat= "item in drn">
                    <div class="card" >
                        <div class="card-body">
                            <h6 class="card-title"><strong>{{item.name}}</strong></h6>
                            <p class="card-subtitle mb-2 text-muted">{{item.price}}</p>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            
        <div class="row1 menuorder subtitle">
            <a class="btn btn-success" href="#/shop">Online Order</a>
        </div>
    </div>
    <!--    Menu End -->
</div>